* {
    box-sizing: border-box;
    margin: 0 auto;
    background:rgba(148, 254, 243, 0.664);
    font-family:Arial, Helvetica, sans-serif;
}

.root{
    background:rgba(148, 254, 243, 0.664);
}

header {
    background-color: white;
    margin: 0 auto; 
    padding: 24px 40px 16px 32px;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.238);

}

header h1 {
    background-color: white;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-style:ridge;
    border-width: 1px;
    border-color: rgb(54, 63, 63);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.238);
}

.formcontainer {
    display: flex;
    flex-direction: row;
    background-color: white;
}

label{
    padding: 5px;
    font-weight: 500;
    font-size: larger;
    color:rgb(126, 126, 126);
    background-color: white;
    
}

.form-top{
    padding-bottom: 1rem;
    background-color: white;

}

.form-top label{
    padding-inline: 14px;
}

.form-top input {
    min-height: 30px;
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: white;
}

.form-bottom{
   display: flex;
   text-align: left;
   background-color: white;
}

.form-bottom textarea {
    width: 70%;
    min-height: 80px;
    margin-left: 13px;
    resize: none; 
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-color: white;
}



.create {
    padding: 1rem;
    background-color: royalblue;
    color: white;
    font-size: medium;
    font-weight: 600;
    padding: 6px 30px;
    border-style: hidden;
    border-radius: 16px;
    margin-inline: 1rem;
    align-self: flex-end;
}

.post {
    display: grid;
    grid-template: 2 3;
    background-color: white;
    margin-top: 1rem;
    grid-template-columns: 75% 25%;
}

.post .name{
    background-color: white;
    font-weight: 600;
    margin-bottom: 10px;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}


.post .timestamp{
    background-color: white;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post .time{
    background-color: white;
}

.post .date{
    background-color: white;
}

.post .body{
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row: 2;
    text-align: left;
}


.post .buttonholder {
    background-color: white;
    grid-column:2;
    grid-row: 3;
}

.feed-list {
    list-style: none;
    background-color: white;
}

.feed-list li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    background-color: white;
}

.inactive {
    background-color: rgb(145, 145, 145);
    margin:1rem;
}

.liked {
    background-color: rgba(61, 249, 79, 0.872);
    margin: 1rem;
}

.disliked {
    background-color: rgba(253, 71, 71, 0.867);
    margin: 1rem;
}